<%- include("partials/header") %>
<link rel="stylesheet" href="/css/dailychallenges.css">
</head>

<body>
    <img src="../assets/Logo/Logo.png" class="logoDesktop">
    <header>
        <h3>«</h3>
        <h2>Daily Challenges</h2>
    </header>
    <main>
        <!--Voeg inputfield in en filter pillen-->
        
        <section class="filterChallenges">
            <form action="" method="post">
                <input type="text" name="sort" class="search-Challenge" placeholder="Zoek Challenges...">
            </form>
        </section>
        <section class="info-available-challenges">
            <div class="available-challenges">
                <h2>Beschikbaar</h2>
                <p>40</p>
            </div>
            <div class="completed-challenges">
                <h2>Gedaan</h2>
                <p>4</p>
            </div>
        </section>

        <section class="filter-Pills-Section">
            <div class="filter-Pills">
                        <h3>Alle Challenges</h3>
                        <h3>Sociaal</h3>
                        <h3>Fysiek</h3>
                        <h3>Publiek</h3>
                        <h3>Mentaal</h3>
                </div>
        </section>

        <section class="dailyCards">
        
            <% for (let challenge of challenges) { %>
            <div class="challengeCard">
                <div class="image-challenge">
                    <div class="difficulity-pill">
                        <h3><%= challenge.difficulty %></h3>
                        <h3><%= challenge.category %></h3>
                </div></div>
                <div class="info-Card">
                    <h2 class="title-challenge" title="<%= challenge.title %>"><%= challenge.title %></h2>
                    <div class="extra-InfoCard">
                        <p class="location-name"><img src="assets/icons/green-location.png" alt="Huis-icoon"> <%= challenge.location %></p>
                        <p class="people-joined"><img src="assets/icons/green-people.png" alt="Huis-icoon"> <%= challenge.joined_count %> gejoined</p>
                    </div>
                    <a href="/dailychallenges/<%= challenge.id %>"><button class="card-button">Meer Info</button></a>
                </div>
            </div>
        <% } %>
        </section>
    </main>
<%- include("partials/footer") %>
