<%- include("partials/header", { css: 'detailpage.css' }) %>
<img src="/assets/Logo/Logo.png" class="logoDesktop">
<header>
    <h2>Uitdaging Details</h2>
</header>
<main>
    <section class="image-Challenge" style="background-image: url('<%= challenge.img_location %>');">
        <div class="location-challenge">
            <img src="/assets/icons/green-location.png">
            <p>Locatie</p>
            <h6 class="location"><%= challenge.location.address %></h6>
        </div>
        <div class="peopleChallenge">
            <img src="/assets/icons/green-people.png">
            <p>Joined</p>
            <h6 class="people-joined"><%= challenge.joined_count %> Anderen</h6>
        </div>
      </section>

    <section class="info-Challenge">
        <h1 class="title-Challenge"><%= challenge.title %></h1>
        <h3>Over deze challenge</h3>
        <p class="description-Challenge"><%= challenge.description %></p>
    </section>
  <section class="challenge-Cards">
      <div class="expectation-Card">
        <h3><img src="/assets/icons/stars.png"> Wat je kan verwachten</h3>
        <ul>
       <% for (const criterium of challenge.criteria) { %>
           <li><%= criterium %></li>
       <% } %>
        </ul>
      </div>

      <div class="expectation-Card">
        <h3><img src="/assets/icons/tips.png">Tips voor succes</h3>
        <ul>
       <% for (const expectation of challenge.expectations) { %>
           <li><%= expectation %></li>
       <% } %>
        </ul>
      </div>
</section>

     
    <section class="tips-card">
      <div class="completion-Card">
        <h3>Voltooiings Criteria</h3>
        <ul>
       <% for (const criterium of challenge.criteria) { %>
           <li><img src="/assets/icons/checklist.png"><%= criterium %></li>
       <% } %>
        </ul>
      </div>

    <% if (completedIds.includes(challenge.id)) { %>
      <button class="card-button">Al voltooid!</button>
      <% } else if (userChallenge && userChallenge.status === "ACTIVE" && userChallenge.challengeId === challenge.id) { %>
        <a href="/submitchallenge/<%= userChallenge.challengeId %>"><button class="card-button">Indienen Challenge</button> </a>
    <% } else if (!userChallenge) { %>
        <form action="/dailychallenges/<%= challenge.id %>/accept" method="post">
      <a href="/currentchallenge"><button class="card-button">Accepteer Challenge</button> </a>
      </form>
      <% } %>
</section>
</main>
<%- include("partials/footer") %>
