<%- include("partials/header", { css: 'leaderboard.css' }) %>       
<img src="./assets/Logo/Logo.png" class="logoDesktop">
<header>
    <div class="header">
        <a href="/menu">
            <img src="assets/icons/left-arrow.png" alt="Pijl">
        </a>
        <div class="tabs">
            <button id="week-button" class="week-button active">Week</button>
            <button id="month-button" class="month-button">Maand</button>
        </div>
        <div class="top3">
            <div class="person second">
                <img class="secondplace" src="assets/icons/secondplace.png" alt="Second">
                <img class="profile" src="assets/placeholders/jeffrey.png" alt="Jeffrey">
                <p>Jeffrey</p>
                <span>1130</span>
            </div>

                    <div class="person first">
                        <img class="crown" src="assets/icons/crown.png">
                        <img class="profile" src="<%= users[0]?.profilePicture ? '/uploads/' + users[0].profilePicture : 'assets/placeholders/Default_pfp.jpg' %>" alt="Profielfoto">
                        <p>
                            <%= users[0]?.displayName ?? "?" %>
                        </p>
                        <span>
                            <%= users[0]?.points ?? 0 %>
                        </span>
                    </div>

                    <div class="person third">
                        <img class="thirdplace" src="assets/icons/thirdplace.png">
                        <img class="profile" src="<%= users[2]?.profilePicture ? '/uploads/' + users[2].profilePicture : 'assets/placeholders/Default_pfp.jpg' %>" alt="Profielfoto">
                        <p>
                            <%= users[2]?.displayName ?? "?" %>
                        </p>
                        <span>
                            <%= users[2]?.points ?? 0 %>
                        </span>
                    </div>
                </div>
            </div>
            <div class="ranklist">
                <% users.slice(3).forEach((user, index)=> { %>
                    <div class="item">
                        <span>
                            <%= index + 4 %>
                        </span>
                        <img src="<%= user.profilePicture ? '/uploads/' + user.profilePicture : 'assets/placeholders/Default_pfp.jpg' %>" alt="Profielfoto">
                        <p>
                            <%= user.displayName %>
                        </p>
                        <b>
                            <%= user.points %>
                        </b>
                    </div>
                    <% }) %>
            </div>
            </div>
        </header>
        </main>
        <%- include("partials/footer") %>