<%- include("partials/header", { css: 'submitchallenge.css' }) %>
<img src="./assets/Logo/Logo.png" class="logoDesktop">
<header>
    <h3>«</h3>
    <h2>
        Stuur bewijs    
    </h2>
    <p>Laat ons je prestatie zien</p>
</header>

<main>
    <div class="challengeCard">
    <h2 class="title-challenge"><%= challenge.title %></h2>
    <p class="location-name"><img src="/assets/icons/small-white-location.png" alt=""> <%= challenge.location %></p>
    </div>

    <h2>Upload Foto's</h2>
    <section class="upload-zone">
    <div class="takeimage">
        <input type="file" class="selfie" name="selfie" accept="image/*" capture="enviroment"/>
        <button type="button" class="custom-selfie"><img src="/assets/icons/green-camera.png" alt=""> <p>Neem Foto</p></button></div>
    
    <div class="upload-image">
        <input type="file" class="selfie" name="selfie" accept="image/*" capture="enviroment"/>
        <button type="button" class="custom-selfie"><img src="/assets/icons/upload.png" alt=""><p>Upload</p></button></div>
    </section>

    <!--Voeg een extra submit button die onzichtbaar is waar je de input naar kunt sturen, je moet dit doen om te button te kunnen stylen voor de input-->

    <h2>Descriptie</h2>
    <div class="description">
    
    <input type="text" name="description" class="description-input" placeholder="Tell us about your experience...">
    </div>

    <button type="submit" class="submit-challenge">Verzenden & verdien <%= challenge.comfyPoints %> CP</button>
</main>
<%- include("partials/footer") %>
